<h1>Marble Community</h1>

<blockquote><i>"Marble collecting is a great hobby!"</i></blockquote>

<P>Many collectors enjoy interacting with others who share the same interest as themselves. Joining a club, going to a show, or chatting with other collectors: All vastly improve your knowledge of the hobby, and offer you innumerable opportunities to expand your collection and prune out the items you no longer want. This area offers a full spectrum of community related features.</p>

<p>Rub shoulders with fellow marble enthusiasts and the hardcore collectors. Great places to learn, discuss and even have your marbles ID'd. Online discussion forums require that you sign-up in order to participate. Once you are signed up you should always read their FAQ and "sticky" posts in their forums that describe the rules and give tips to beginners.	

</p>


