// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: url("http://images.fineartamerica.com/images-medium-large/the-game-of-marbles-reggie-duffie.jpg");
    background-size: 50% auto;
   background-repeat: no-repeat;
   background-attachment: fixed;
    
    background-position: 300px 300px; 
}

