// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: url("http://thumbs.dreamstime.com/z/colorful-marbles-1009798.jpg");
    background-size: 50% auto;
   background-repeat: no-repeat;
   background-attachment: fixed;
    
    background-position: 300px 300px; 
}

